@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  font-family: "poppins", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#bgvideo{
    object-fit: fill;
    position: absolute;
    z-index: -10;
}
.container {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.player {
  padding: 30px;
  display: flex;
  width: 70%;
  height: 300px;
  border-radius: 20px;
  border: 2px solid white;
  background: #31313194;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.player:hover{
    animation:none;
}
.player:hover #cover {
  opacity: 0.8;
}

#cover {
  width: 300px;
  height: 300px;
}
#cover:hover {
  opacity: 0.8;
}
.details {
  margin-left: 20px;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.details h1 {
  font-size: 40px;
}
#waveform {
  width: 100%;
}
.controls img {
  width: 30px;
}
.controls img:not(:first-child) {
  margin-left: 20px;
}

.shortkeys{
    position:absolute;
    bottom:5px;
    left:0;
    right:0;
    margin:auto;
    width: 50%;
    justify-content:center;
    padding:10px;
    display: flex;
    border-radius: 20px;
    color: #fff;
    border: 2px solid white;
    background: #31313194;
}
.shortkeys p{
    margin-right: 40px;
    font-size:13px;
}

@media screen and (max-width: 800px) {
    #cover {
        margin-bottom: 20px;
    }
  .player {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
  }
  .shortkeys{
      display: none;
  }
}
@-webkit-keyframes neon1 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1180ff,
        0 0 70px #1180ff, 0 0 80px #1180ff, 0 0 100px #1180ff, 0 0 150px #1180ff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #bc11ff,
        0 0 35px #bc11ff, 0 0 40px #bc11ff, 0 0 50px #bc11ff, 0 0 75px #bc11ff;
    }
  }
